Checks: >-
  bugprone-*,
  clang-analyzer-*,
  concurrency-*,
  performance-*,
  portability-*,
  -bugprone-easily-swappable-parameters
WarningsAsErrors: ''
HeaderFilterRegex: '^(src|tests)/'
FormatStyle: file
CheckOptions:
  readability-identifier-naming.NamespaceCase: lower_case
